body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    font-family: 'Arial', sans-serif;
    
   background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

    
    overflow: hidden; 
}


.card {
    background-color: white;
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);


    position: absolute;
    top: 50%;
    left: 50%;
    

    animation: float 3s ease-in-out infinite;
}


h1 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    margin-bottom: 25px;
}

.description {
    font-size: 14px;
    line-height: 1.5;
}


.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ff512f; 
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    

    transition: background-color 0.3s, transform 0.3s;
}


.btn:hover {
    background-color: #dd2476; 
    transform: scale(1.05); 
}


@keyframes float {
    0% {

        transform: translate(-50%, -50%) translateY(0px);
    }
    50% {

        transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {

        transform: translate(-50%, -50%) translateY(0px);
    }
}